[ v3_req ]
basicConstraints = CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
keyUsage = cRLSign, keyCertSign
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always,issuer:always
issuerAltName          = issuer:copy

[ req ]
distinguished_name = req_distinguished_name

[ req_distinguished_name]